.soup-page {

    max-width: 1199px;

    margin: 0 auto;

    padding: 0 30px;
    box-sizing: content-box;

    @media @tablet {

        padding: 0 24px;
    }

    &__header {

        display: flex;
        align-items: center;
        justify-content: space-between;

        font-size: 16px;
        line-height: 18px;

        padding: 30px 0 0;

        color: #000000;

        @media  @tablet {

            padding: 24px 0;

            position: sticky;
            top: 0;
            background: #fff;
            z-index: 100;
        }
    }
    
    &__product {

        display: flex;
        justify-content: center;

        margin-top: 49px;

        @media  @tablet {

            flex-direction: column;
        }
    }

    &__footer {

        margin-top: 39px;

        display: flex;
        align-items: baseline;
        justify-content: space-between;

        font-size: 14px;
        line-height: 16px;

        border-top: 1px solid #D8D8D8;

        padding: 32px 0 80px;

        @media @narrowScreen {

           flex-wrap: wrap;
        }

        @media @tablet {

            flex-direction: column;
        }
    }
}