.sp-category {

    &__item {

        white-space: nowrap;

        padding: 15px 25px;
        background: #fff;

        transition: all .3s;

        font-size: 14px;

        &:first-child {

            padding: 16px 49px 6px 25px;
        }

        &:last-child {

            padding: 6px 25px 21px;
        }

        &:hover {

            color: #ff7f96;
        }
    }
}