.sp-product-story {

    &__title {

        font-size: 28px;
        line-height: 31px;
    }

    &__detail {

        margin-top: 24px;

        font-size: 18px;
        line-height: 32px;
        
        display: block;
    }

    &__price {

        margin-top: 24px;

        font-weight: bold;
        font-size: 28px;
        line-height: 31px;

        display: block;
    }

    &__color-choice {

        margin-top: 33px;

        display: flex;
        justify-content: space-between;
        align-items: center;

        max-width: 200px;
    }

    &__btn {

        margin-top: 24px;
    }

    &__detail-description {

        margin-top: 40px;
    }
}