.sp-product {

    &__wrapper{

        flex: 1;
        display: flex;
       
        &:nth-child(1) {

            justify-content: flex-end;
        }

        &:nth-child(2) {

            justify-content: center;
        }
    }

    &__left-col{

        margin-top: 31px;

        display: flex;
        flex-direction: column;

        align-items: center;

        @media @narrowScreen {
            
            margin-top: 6px;
        }
    }

    &__right-col{

        flex-shrink: 0;
        
        width: 368px;

        display: flex;
        flex-direction: column;

        transition: all 0.3s;

        @media @narrowScreen {
            
            width: 330px;
        }

        @media @tablet {

            width: 100%;

            margin-top: 40px;
        }
    }

}